.wy-nav-content{
    width: 100%;
    max-width: unset;
}
.wy-side-nav-search img {
	height:64px;
	width:200px;
	border-radius:0.1%;
	background-color:#00B5BC;
}
.wy-side-nav-search {
	background-color:#00B5BC;
}
.wy-side-nav-search > p{
	line-height:10px;
}