{% extends "base.html" %}

{#
The entry point for the ReadTheDocs Theme.
 
Any theme customisations should override this file to redefine blocks defined in
the various templates. The custom theme should only need to define a main.html
which `{% extends "base.html" %}` and defines various blocks which will replace
the blocks defined in base.html and its included child templates.
#}
{%- block site_name %}
       <a href="http://www.emakefun.com" target="_blank"><img src="https://emakefun-docs.readthedocs.io/zh_CN/latest/img/favicon.png"/></a>
	   <p>emakefun文档中心</P>
	  {%- endblock %}

	  {% block libs %}
    {{ super() }}
	<script src="{{ base_url }}/js/jquery.treeview.js"></script>
	<script src="{{ base_url }}/js/jquery.cookie.js"></script>
{% endblock %}